# ASE1302 - Assignment \#01
$$
\newcommand{\eg}{{\it e.g.}}
\newcommand{\ie}{{\it i.e.}}
\newcommand{\argmin}{\operatornamewithlimits{argmin}}
\newcommand{\mc}{\mathcal}
\newcommand{\mb}{\mathbb}
\newcommand{\mf}{\mathbf}
\newcommand{\minimize}{{\text{minimize}}}
\newcommand{\diag}{{\text{diag}}}
\newcommand{\cond}{{\text{cond}}}
\newcommand{\rank}{{\text{rank }}}
\newcommand{\range}{{\mathcal{R}}}
\newcommand{\null}{{\mathcal{N}}}
\newcommand{\tr}{{\text{trace}}}
\newcommand{\dom}{{\text{dom}}}
\newcommand{\dist}{{\text{dist}}}
\newcommand{\R}{\mathbf{R}}
\newcommand{\Z}{\mathbf{Z}}
\newcommand{\SM}{\mathbf{S}}
\newcommand{\ball}{\mathcal{B}}
\newcommand{\bmat}[1]{\begin{bmatrix}#1\end{bmatrix}}
$$

__<div style="text-align: right"> ASE1302: Computer programming, Inha University. </div>__
_<div style="text-align: right"> Jong-Han Kim (jonghank@inha.ac.kr) </div>_

<br>

---
**1.1. 다음 파이썬 코드의 출력결과는 무엇인가? 우선 결과를 생각해 보고 직접 코드를 수행한 후 그 결과를 제출하시오. 예상결과와 실제결과가 같은지 살펴보시오.**
~~~
1) print(100)
2) print(100 + 200)
3) print('100 + 200')
4) print(100, 200)
5) print('100', '200')
6) print('100''200')
7) print('Hello Python!')
8) print('Hello', 'Python', '!')
9) print('Hello' + 'Python' + '!')
10) print('Hello''Python''!')
11) print('********************')
12) print('*' * 20)
~~~

In [ ]:
# your code here

print(100)
print(100 + 200)
print('100 + 200')
print(100, 200)
print('100', '200')
print('100''200')
print('Hello Python!')
print('Hello', 'Python', '!')
print('Hello' + 'Python' + '!')
print('Hello''Python''!')
print('********************')
print('*' * 20)

100
300
100 + 200
100 200
100 200
100200
Hello Python!
Hello Python !
HelloPython!
HelloPython!
********************
********************

<br>

---
**1.2. 다음 코드들은 어떤 오류를 출력하는가? 실행 시 나타나는 오류를 적고 이 오류를 수정한 후 수행해 보시오.**
~~~
1) print('Hello Python!")
2) print('*' 20)
3) print(Life is short learn Python!)
4) print(100 + '200')      # 숫자 100과 200의 합 300을 출력하라
~~~

In [ ]:
# your code here

print('Hello Python!')
print('*'*20)
print('Life is short learn Python!')
print(100 + 200)      # 숫자 100과 200의 합 300을 출력하라

Hello Python!
********************
Life is short learn Python!
300

<br>

---
**1.3. 'I love Python!'을 5줄에 걸쳐 모두 5번 출력하는 코드를 작성해 보시오.**

In [ ]:
# your code here

print('I love Python!')
print('I love Python!')
print('I love Python!')
print('I love Python!')
print('I love Python!')

I love Python!
I love Python!
I love Python!
I love Python!
I love Python!

<br>

---
**1.4. 다음과 같은 출력물을 만드는 코드를 작성해보시오.**
~~~
*
**
***
****
*****
~~~

In [ ]:
# your code here

print('*')
print('**')
print('***')
print('****')
print('*****')

*
**
***
****
*****

<br>

---
**1.5. 다음과 같은 수식 계산을 해 보도록 하자. 이 계산의 결과 값은 무엇인가?**
~~~
1) 400 - 200 + 100
2) 400 * 200 - 100
3) 6 * 3 / 9
4) 9 ** 3
5) 9 / 3
6) 9 // 3
~~~

In [ ]:
# your code here

print(400 - 200 + 100)
print(400 * 200 - 100)
print(6 * 3 / 9)
print(9 ** 3)
print(9 / 3)
print(9 // 3)

300
79900
2.0
729
3.0
3

<br>

---
**1.6. 다음과 같은 수식 계산을 해 보자. 원주율 $\pi$는 3.14로 가정한다.**
~~~
1) 1에서 10까지 정수의 합
2) 반지름의 길이가 5인 원의 둘레 
3) 한 변의 길이가 20인 정사각형의 둘레
4) 한 변의 길이가 20인 정사각형의 면적
5) 높이가 10이고 밑변이 30인 직사각형의 둘레
6) 높이가 10이고 밑변이 30인 직사각형의 면적
~~~

In [ ]:
# your code here
print(1+2+3+4+5+6+7+8+9+10)
print(5*2*3.14)
print(20*4)
print(20*20)
print(2*(10+30))
print(10*30)

55
31.400000000000002
80
400
80
300

<br>

---
**1.7. 정수 30의 팩토리얼(=$30!$)을 구하여 출력해 보시오.**

In [ ]:
# your code here
print( \
      30*29*28*27*26*25*24*23*22*21* \
      20*19*18*17*16*15*14*13*12*11* \
      10* 9* 8* 7* 6* 5* 4* 3* 2)

265252859812191058636308480000000

<br>

---
**1.8. 다음의 대기 모델을 사용하여, 해발고도와 고도 1km, 2km, 3km에서의 공기밀도를 계산하시오.**

$${\displaystyle \rho ={\frac {pM}{RT}}={\frac {pM}{RT_{0}\left(1-{\frac {Lh}{T_{0}}}\right)}}={\frac {p_{0}M}{RT_{0}}}\left(1-{\frac {Lh}{T_{0}}}\right)^{{\frac {gM}{RL}}-1}}
$$

위의 관계식에서 고도 $h$의 단위는 $m$이며, 그외 사용되는 파라미터들은 다음과 같다. 참고: https://en.wikipedia.org/wiki/Density_of_air

- $p_{0}$, sea level standard atmospheric pressure, 101325 Pa
- $T_{0}$, sea level standard temperature, 288.15 K
- $g$, earth-surface gravitational acceleration, 9.80665 m/s/s
- $L$, temperature lapse rate, 0.0065 K/m
- $R$, ideal (universal) gas constant, 8.31446 J/(mol·K)
- $M$, molar mass of dry air, 0.0289652 kg/mol

In [ ]:
# your code here

# h = 1000m
print('rho at 1km : ', 101325*0.0289652/8.31446/288.15 \
      * (1-0.0065*1000/288.15)**(9.80665*0.0289652/8.31446/0.0065-1) )

# h = 2000m
print('rho at 2km : ', 101325*0.0289652/8.31446/288.15 \
      * (1-0.0065*2000/288.15)**(9.80665*0.0289652/8.31446/0.0065-1) )

# h = 3000m
print('rho at 3km : ', 101325*0.0289652/8.31446/288.15 \
      * (1-0.0065*3000/288.15)**(9.80665*0.0289652/8.31446/0.0065-1) )

rho at 1km :  1.111652359613188
rho at 2km :  1.0064977794117342
rho at 3km :  0.9091276488017072