# ASE1302 - Assignment \#04

__<div style="text-align: right"> ASE1302: Computer programming, Inha University. </div>__
_<div style="text-align: right"> Jong-Han Kim (jonghank@inha.ac.kr) </div>_
_<div style="text-align: right"> Ho-Young Jeon (hy13776@inha.edu) </div>_

<br>

---
**4.1 사용자로부터 a에서 z까지의 알파벳 문자 하나를 입력 받아서 a, e, i, o, u일 경우 다음과 같이 '모음입니다.'를 출력하고, 이외의 문자일 경우 '자음입니다.'를 출력하시오.**

In [ ]:
# your code here

알파벳을 입력하시오 : u
u (은)는 모음입니다.

<br>

---
**4.2 다음과 같이 사용자로부터 임의의 정수 3개를 입력으로 받아서 가장 큰 수부터 작은 수까지 나열하는 프로그램을 if-else 문을 사용하여 작성하시오(힌트: 공백 단위로 구분되어 입력받은 숫자를 분리할 때 split()메소드를 사용하여라)**

In [ ]:
# your code here

세 정수를 입력하시오 : 34 5251 4
5251 34 4

<br>

---
**4.3 다음과 같이 사용자로부터 나이를 입력받아 20살 이상이면 "Adult", 10살 이상 20살 미만이면 "Youth", 10살 미만이면 "Kid"를 출력하는 프로그램을 if-elif-else 문을 사용하여 작성하시오.**

In [ ]:
# your code here

나이를 입력하시오 : 13
Youth

<br>

---
**4.4 하나의 정수를 입력으로 받아서 이 정수가 2로 나누어지는지, 3으로 나누어지는지, 혹은 두 정수 모두로도 나누어지는 알려주는 프로그램을 다음과 같이 작성하시오. 예를들어 15와 같은 수가 입력되면 다음 출력 결과와 같은 화면이 나타나면 된다.**

In [ ]:
# your code here

정수를 입력하시오 : 2314
2314는(은) 2로 나누어 집니다..

<br>

---
**4.5 random.randint(0, 9)를 사용하여 0에서 9사이의 복권번호 3개를 생성하도록 하자. 이들 중에서 3개의 숫자를 모두 맞히면 '1억원', 2개를 맞히면 '1천만원', 1개를 맞히면 '1만원', 모두 틀리면 '다음 기회에...'을 출력하는 복권 시스템이 있다고 가정하자. 사용자로부터 3개의 정수를 받은 다음 상금을 알려주는 프로그램을 다음과 같이 작성하시오.**

In [ ]:
# your code here

세 복권번호를 입력하시오 : 1 3 4
상금 1천만원
당첨번호 : [1, 5, 3]

<br>

---
**4.6 철수는 최근 식당을 오픈하여 자신의 식당 메뉴 주문 프로그램을 직접 개발하고자 한다. 이를 위하여 사용자에게 다음과 같은 메뉴를 보여주고 알파벳 b, c, p 중에서 하나를 선택하도록 하자. 이때 메뉴에 없는 알파벳이 입력되면 "선택한 메뉴가 없습니다"가 출력되도록 하여라.**

In [ ]:
# your code here

우리식당에 오신것을 환영합니다. 메뉴는 다음과 같습니다.
- 햄버거(입력 b)
-치킨(입력 c)
-피자(입력 p)

메뉴를 선택하세요(알파벳 b, c, p 입력) : b
햄버거를 선택하였습니다.

<br>

---
**4.7 파이썬의 random.randint(1,100)을 이용하여 1에서 100 사이의 임의의 난수 2개를 생성하여라. 다음으로 두 수의 합을 묻는 질문을 사용자에게 던지도록 하자. 만일 사용자가 두 수의 합을 맞추면'잘했어요!!'를 출력하여라. 만일 틀릴 경우 '정답은 000입니다.'를 출력하여라.**

In [ ]:
# your code here

num1 : 1, num2 : 57
두 수의 합은 ? : 21
틀렸습니다! 정답은 1 + 57 = 58 입니다.

<br>

---
**4.8 덧셈, 뺄셈, 곱셈, 나눗셈을 수행해주는 프로그램을 작성하려 한다. 원하는 연산의 번호(1:덧셈, 2:뺄셈, 3: 곱셈, 4:나눗셈)을 입력후, 두 개의 양의 정수를 입력하면 연산 결과를 출력해준다. 이때 연산의 번호에서 1,2,3,4가 아닌 다른 값이 입력되면 '잘못 입력하였습니다.'를 출력한다. 또한, 각 연산에 배정된 숫자가 아닌, 다른 숫자를 입력하면 잘못 입력하였다는 정보를 출력하여야 한다.**

In [ ]:
# your code here

1) 덧셈 2)뺄셈 3)곱셈 4)나눗셈
어떤 연산을 원하는지 번호를 입력하세요: 1
연산을 원하는 숫자 두개를 입력하세요 : 3 4
3 + 4 = 7